html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 'POE';
  text-shadow: rgb(121, 0, 0) 0 0 32px;
  -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.7);
  background-image: linear-gradient(black, lightgrey);
}
.changeBackgroundImage {
 background-attachment: fixed;
 background-position: center;
}

.JSWTMobile {
  background-image: url(./assets/JSWT.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'POE';
  src: url(./assets/POET.ttf);
}
h1 {
  margin: 0.01px;
  padding: 10px;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline black;
  background-color: black;
  border: ridge 2px grey;
}
.winnerDeclarationMargin {
  margin: 20%;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0px;
  background: lightgrey;
  border-radius: 15px;
  margin-left: 15%;
  margin-right: 15%;
  opacity: 0.8;
  border: 2px solid black;
  box-shadow: 0 0 15px black;
}
h3 {
  background: lightgrey;
  border-radius: 4px;
  padding: 5px 13px 5px 5px;
  opacity: 0.8;
  font-size: 1.2rem;
  text-align: center;
  border: px solid black;
  box-shadow: 0 0 15px black;
}
main {
  display: flex;
  justify-content: space-around;
}

.playerOne {
  display: flex;
  flex-direction: column;
}

.playerTwo {
  display: flex;
  flex-direction: column;
}

.rock,
.paper,
.scissors,
.buttonReset {
  margin: 8px;
  background-color: darkgoldenrod;
  font-family: 'Pirata One', cursive;
  text-shadow: white 0.5px 0.5px 3px;
}

button {
  border: black solid 1px;
  box-shadow: white 2px 2px 15px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.rock:hover,
.paper:hover,
.scissors:hover,
.buttonReset:hover {
  box-shadow: red 2px 2px 15px;
  text-decoration: line-through;
}
.hidden {
  display: none;
}

.ResetButton {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.blackPearl {
  width: 250px;
  height: auto;
}
footer {
  width: 100vw;
  background: black;
  position: fixed;
  bottom: 0px;
  border: black solid 5px;
  font-size: 0.6rem;
  text-align: center;
}
.blackPearlFlex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 370px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .blackPearl {
    width: 375px;
    height: auto;
  }
  button {
    font-size: 1.3rem;
  }
  @media (min-width: 410px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.6rem;
    }
    .blackPearl {
      width: 350px;
      height: auto;
    }
    button {
      font-size: 1.5rem;
    }
  }
  @media (min-width: 490px) {
    .ResetButton {
      margin: 6%
    }
  }
  @media (min-width: 640px) {
    .JSWTMobile {
      background-image: url(./assets/JSWT.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    h1 {
      font-size: 4.7rem;
    }
    h2 {
      font-size: 2.8rem;
    }
    h3 {
      font-size: 2.1rem;
    }
    .blackPearl {
      width: 460px;
      height: auto;
    }
    button {
      font-size: 1.7rem;
    }
    .ResetButton {
      margin: 8%
    }
  }
  @media (min-width: 750px) {
  .ResetButton {
    margin: 9% 
  }
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.7rem;
    }
    .blackPearl {
      width: 375px;
      height: auto;
    }
    button {
      font-size: 2rem;
    }
    footer {
      font-size: .9rem;
    }
}
@media (min-width: 1000px) {
  .ResetButton {
    margin: 10%
  }
  .ResetButton {
    margin: 10% 
  }
    h1 {
      font-size: 7rem;
    }
    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 3.5rem;
    }
    .blackPearl {
      width: 400px;
      height: auto;
    }
    button {
      font-size: 3.3rem;
    }
    footer {
      font-size: 1.2rem;
    }
}
@media (min-width: 1200px) {
  .ResetButton {
    margin: 10%
  }
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.5rem;
    }
    .blackPearl, 
    .blackPearlFlex {
    display: none;
    }
    button {
      font-size: 2.5rem;
    }
    footer {
      font-size: 1rem;
    }
}
@media (min-width: 1350px) {
  .ResetButton {
    margin: 15% 
  }
}
@media (min-width: 1890px) {
    h1 {
      font-size: 7rem;
    }
    h2 {
      font-size: 4.5rem;
    }
    h3 {
      font-size: 3.7rem;
    }
    button {
      font-size: 2.5rem;
    }
    footer {
      font-size: 1.5rem;
    }
}
